body {
				background: url(../img/background4.jpg);
				opacity: 0.9;
				text-align: center;
}
h1 {
				text-align: center;

}
h3 {
				text-transform: uppercase;
				color: white;
				font-family: Impact;
				border: 2px outset white;
				background-color: black;
				padding: 3px;
				border-radius: 10px;
				width:30%;
				margin-left:35%;
			
}
.course {
	font-size: 55px; 
	color: #cb661e; 
	font-family: a_MachinaOrtoGrSl;
}
.course-2 {
	font-size: 55px;
	color: #149abf;
	font-family: a_AlternaSw;
}
.exmpl {
	text-decoration: underline;
	color: blue;
}
.return {
	text-decoration: none;
	color: #0088CC;
	border-bottom: 1px dashed green;

}
.return:hover {
	border-bottom: none;
}
.block {
	padding: 7px;
border: 1px solid black;
border-radius: 5px;
width: 70%;
display: inline-block;
background-color: #E1E0E0;
text-align: center;
}

.exmpl-1, .exmpl-2 {
   display: inline-block;
   }